@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main';
@import 'toastify';
@import 'map';
@import 'search';
@import 'nav';
@import 'home';

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
}

html {
    overflow: scroll;
}


h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

.login-wrapper {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
}

.invalid {
	color: red;
	font-size: 0.8rem;
}

.data_result {
	margin-top: 5px;
	width: 300px;
	height: 100px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
}

//  .data_result::-webkit-scrollbar {
// 	display: none;
// } 

.data_result .data_result_item {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	color: black;
}

.data_result_item p {
	margin-left: 10px;
}

a {
  text-decoration: none;
}

#navbar-dropdown {
    margin-left: 2px;
}

#navbar-dropdown a{
    padding-left: 5px;
}

.dropdown-menu {
    background-color: #212529;
    padding-left: 5px;
}

.dropdown-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.55);
}

.dropdown-menu a:hover {
    color:rgb(255, 255, 255)
}

.navbar-image {
    object-fit: cover;
}

// icons
.svg-inline--fa{
	color: black;
	height: 1.5em;
}

.sidebarIcon {
	margin-left: 3.9em;
}


// table
.table-headers {
    text-align: center;
}

.table-cells {
    font-size: 14px;  
}

// sidebar
.offcanvas-backdrop.show {
	opacity: 0;
}

.offcanvas {
	margin-top: 300px;
	position: absolute;
	top: 0;
	overflow-y: scroll;

    @media only screen and (min-width: 768px) {
        margin-top: 225px
    }
    @media only screen and (min-width: 1024px) {
        margin-top: 225px
    }
    @media only screen and (min-width: 1440px) {
        margin-top: 190px
    }

}


.dogIcon {
	position: absolute;
	top: 42%;
	right: 1em;
}


// card
.card-img-top {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

body {
    padding: 0 !important;
}

.sidebar-btn {
    position: absolute;
    margin: auto;
    top: 10px;
    border-radius: 0;
}

.map a{
   display: none 
}

.table {
    margin-bottom: 0;
}

.table-body {
    overflow-x:auto;

}

.kort-bild {
    width: 150px;
    height: 150px;
    object-fit:fill;
}


.sorterings-knapp {
    cursor: pointer;
}
.cuisine {
	font-style: italic;
}


input[type=number] {
    -moz-appearance: textfield;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



// CARDS ON RESTAURANT PAGE

.card-wrapper {
    padding: 14px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    outline: 2px solid rgb(33, 37, 41);
    outline-offset: -7px;
    border-radius: 8px;
}

.column-1 {
    order: 2;

    @media only screen and (min-width: 576px) {
        order:1;
    }
}

.column-2 {
    order: 1;
    @media only screen and (min-width: 576px) {
        order:1;
    }
}

.image-box {
    height: 100%;
}

.box-image {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.text-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;

    @media only screen and (min-width: 576px) {
        padding: 0 4px;
    }
}

.info-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;

    @media only screen and (min-width: 576px) {
        order:1;
    }
}

.info-street {
    font-size: 12px;
    margin-bottom: 0;
}

.info-box {
    display: flex;
    padding-right: 5px;
    color: rgb(0, 0, 0);
}

.info-text {
    font-style: italic;
    font-size: 12px;
    padding-right: 8px;
    margin-bottom: 0;

    @media only screen and (min-width: 576px) {
        font-size: 14px;
    }
}

.svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    color: rgb(33, 37, 41);
    font-size: 12px;
}

.fa-icon {
    padding-right: 10px;
}

.info-info {
    margin-bottom: 6px;
}

.card-row {
    min-height: 180px;

}


// ADMIN PAGE 

.current-user {
    margin-left: 10px;

    @media only screen and (min-width: 576px) {
        margin-left: 0;
    }
}

.accordion {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    padding: 0;
    border-radius: 8px;
}

.accordion-row {
    width: 95%;
    margin: auto;

    @media only screen and (min-width: 576px) {
        width: 100%;
    }
}

.accordion-button:not(.collapsed) {
    background-color: rgb(33, 37, 41);
    color: white;
}

.accordion-button:not(.collapsed)::after {

    color: white;
}

.accordion-item {
    border-top: none;
    border-left: none;
    border-right: none;
}

.accordion-button:focus {
    box-shadow: none;
}


// Form 
.form-card {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    border-width: 0;
}
.form-header {
    background-color: rgb(33, 37, 41);
    color:white;
}

.form-control:focus {
    color: rgb(33, 37, 41);
    box-shadow:0 0 0 0.25rem rgba(104, 104, 104, 0.25);
    border-color: rgb(33, 37, 41);
}

.form-select:focus {
    color: rgb(33, 37, 41);
    box-shadow:0 0 0 0.25rem rgba(104, 104, 104, 0.25);
    border-color: #212529;
}

.input-group-text{
    background-color: rgb(33, 37, 41);
    color: white;
}


// SIDEBAR SINGLE RESTAURANT

.single-wrapper {
    padding: 14px;

    outline: 2px solid rgb(33, 37, 41);
    outline-offset: -7px;
    border-radius: 8px;
    position: relative;
}

.single-img {
    min-height: 220px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
    box-shadow: 0px 0px 6px 0px rgba(89,89,89,1);
}

.single-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.single-title {

    margin-bottom: 0;
}
.line {
    margin:0
}
.single-street {
    font-size: 16px;
    margin-bottom: 5px;
}

.single-box {
    margin: 20px 0;
}

.single-info {
    margin-bottom: 20px;
}

.single-social {
    margin-top: 20px;
}

.pet-img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.profile-image {
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.admin-item {
    display: flex;
    align-items: center;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid grey;
}
.admin-images {
    text-align: end;
}

.admin-image {
    border-radius: 50%;
}

