@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main';
@import 'toastify';

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
    
}

html {
    overflow: scroll;
}


h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

.login-wrapper {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
}

.invalid {
	color: red;
	font-size: 0.8rem;
}

.data_result {
	margin-top: 5px;
	width: 300px;
	height: 100px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
}

/* .data_result::-webkit-scrollbar {
	display: none;
} */

.data_result .data_result_item {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	color: black;
}

.data_result_item p {
	margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#navbar-dropdown {
    border: 2px solid wheat;
    border-radius: 50%;
    margin-left: 2px;
}

.dropdown-menu {
    background-color: #212529;
    padding-left: 5px;
}

.dropdown-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.55);
}

.dropdown-menu a:hover {
    color:rgb(255, 255, 255, 0.75)
}

// icons
.svg-inline--fa{
	color: black;
	height: 1.5em;
}

.table-headers {
    text-align: center;
}

.table-cells {
    font-size: 14px;
    
}

.offcanvas-backdrop.show {
	opacity: 0;
}

.offcanvas {
	margin-top: 100px;
}

// card
.card-img-top {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
